<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>a CDH presentation</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		
		<link rel="stylesheet" href="../../dist/reset.css">
		<link rel="stylesheet" href="../../dist/reveal.css">
		<link rel="stylesheet" href="../../dist/theme/serif.css" id="theme">
		<style type="text/css">
			p { text-align: left; }
			li {margin: 0 0 0 1em;}

			.slide-logo {
				display: block !important;
				position: fixed !important;
				bottom: 0 !important;
				left: 60px !important;
				max-height: 20% !important;
				height: 100% !important;
			}
 	
		</style>
	</head>

	<body>

		<div class="reveal">

			<div class="slides">

				<section data-background="#ffcd00">
					<h2>Presentation title</h2>
					<h4>Presentation subtitle</h4>
					<img src="./assets/UU-CDH_logo_EN_def_UU_CDH_logo_EN_yellowwhite.jpg" class="slide-logo" alt="Logo"/>
				</section>

			</div>

		</div>

		<script src="../../dist/reveal.js"></script>
		<script>

			// Full list of configuration options:
			// https://revealjs.revealjs.com/config/
			Reveal.initialize({
				center: true,

				transition: 'linear',
				// transitionSpeed: 'slow',
				// backgroundTransition: 'slide'
			});

		</script>

	</body>
</html>
